/* estuilo encabezado */
h1 {
    color:blue;
    font-size: 30px;
    text-align: center;
}

/* estuilo parrafos */

p {
    color: darkcyan;
    font-size: 18px;
    text-align: center;
}

a {
    text-decoration: none;

}

